@charset "UTF-8";

.container {
   /* margin: 0 15% */
       margin: 0 10% 0 18.5%;
}

.header_new {
   box-sizing: border-box;
   width: 100%;
   height: 80px;
}

.header_new .logo {
   float: left;
   padding-left: 0;
}

.header_new .search {
   width: 50%;
   height: auto;
   margin-top: 6px;
   float: left;
   margin-left: 30px;
   padding-left: 4%;
}

.header_new .search #searchcss:focus {
   outline: none;
   border-color: #2196F3;
}

.header_new .search .lcont {
   width: 90%;
   height: 40px;
   border-bottom: 3px solid #fb878b;
   margin-top: 20px;
   margin-left: 30px;
}

.header_new .search .lcont input[name=search] {
   width: 80%;
   padding-top: 3px;
   padding-left: 15px;
   margin-top: 0px;
   height: 80%;
   border: none;
   font-size: 16px;
   color: #333333;
   font-weight: 500;
}

.header_new .search .lcont input[name=search]:focus{
	outline:none;
}

.header_new .rcont {
   width: 29%;
   box-sizing: border-box;
   float: right;
   position: relative;
   padding-right: 1%;
   padding-left: 1%;
   padding-top: 3.5%;
}

.header_new .rcont label {
   font-weight: 600;
   font-size: 16px;
   color: #333333;
   width: 70%;
   height: 30px;
   text-align: center;
   padding-right: 3%;
   cursor: pointer;
   padding-top: 28px;
}

.header_new .rcont label:visited {
   color: #000;
   text-decoration: none;
}

.header_new .rcont label:link {
   color: #000;
   text-decoration: none;
}

.header_new .rcont label:hover {
   color: #999;
   text-decoration: none;
}

#popup-login, #popup-join {
   display: none;
}

.popup {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 999;
   background: rgba(0, 0, 0, .5);
}

.popup .popup-content {
   position: absolute;
   top: 24%;
   left: 38%;
   padding: 55px 38px;
   text-align: center;
   background: #fff;
   border-radius: 10px;
}

.popup-join .popup-content {
   position: absolute;
   top: 14%;
   left: 36%;
   padding: 55px 53px;
   text-align: center;
   background: #fff;
   border-radius: 10px;
}

.popup .to-join {
     position: relative;
    top: 490px;
   text-align: center;
   color: white;
   text-decoration: none;
}

.popup .to-login {
    position: relative;
       top: 660px;
      text-align: center;
      color: white;
      text-decoration: none;
      padding-left:9%
}

.to-join:hover, .to-login:hover {
   color: black;
}

.popup .popup-content .btn {
   display: block;
   width: 60%;
   height: 40px;
   padding: 5px;
   font-size: 25px;
   line-height: 1;
   color: #fff;
   background: #fb878b;
   margin-left: 20%;
   margin-top: 15px;
   border: 0;
}

.popup input[type=radio] {
   display: none;
}

.popup .popup-content form input[type=radio]+label {
   display: inline-block;
   width: 60px;
   heigth: 15px;
   cursor: pointer;
   margin-left: 15px;
   margin-right: 10px;
}

.popup .popup-content form input[type=radio]:checked+label {
   background: #fcadaf;
   display: inline-block;
   width: 60px;
   heigth: 15px;
   cursor: pointer;
   margin-left: 15px;
   margin-right: 10px;
}

.popup .popup-content form input[type=text], .popup .popup-content form input[type=password]
   {
   margin-bottom: 25px;
   padding: 4.5px 12px;
   height: auto;
   box-shadow: none;
   font-size: 20px;
   line-height: 1;
   border: 0;
   border-bottom: 2px solid lightgray;
}

.popup-join .popup-content form input[type=text], .popup .popup-content form input[type=password]
   {
   margin-bottom: 18px;
   padding: 4.5px 12px;
   height: auto;
   box-shadow: none;
   font-size: 20px;
   line-height: 1;
   border: 0;
   border-bottom: 2px solid lightgray;
}

.popup-join .popup-content form input[name=id] {
   margin-bottom: 18px;
   width: 48.5%;
   padding: 4.5px;
   height: auto;
   box-shadow: none;
   font-size: 20px;
   line-height: 1;
   border: 0;
   border-bottom: 2px solid lightgray;
}

.popup-join .popup-content form button[id=idcheck] {
   width: 25%;
   height: 30px;
   border: 0;
   background: #fb878b;
   font-size: 17px;
   line-height: 1;
   color: #fff;
}

@media ( max-width : 1110px ) {
   .header_new .rcont {
      display: none;
   }
}