@charset "UTF-8";
body, html       { width:100%; margin:0; padding:0; font-size:14px; line-height:160%; color:#666; font-family:"Noto Sans KR", "나눔 바른 고딕","NanuBarunGothic","맑은 고딕","Malgun Gothic","Apple Gothic","돋움",Dotum,"Helvetica Neue",Helvetica,Arial,sans-serif !important; letter-spacing:-1px; }
div, table, ul, li, ol, dl, dt, dd, h1, h2, h3, h4, h5, h6, p { margin:0; padding:0; font-size:14px; font-weight:normal; list-style:none; font-family: "Noto Sans KR","나눔바른고딕","NanumBarunGothic","맑은 고딕","Malgun Gothic","Apple Gothic","돋움",Dotum,"Helvetica Neue",Helvetica,Arial,sans-serif !important; }
a:link         { color:#000; text-decoration:none; }
a:visited       { color:#000; text-decoration:none; }
a:active       { color:#999; text-decoration:none; }
a:hover       { color:#999; text-decoration:none; }
.container{width:1100px;margin:0 auto;overflow:visible;}
.container div,.container h1,.container ul,.container li{overflow:hidden;}
.container .cursor{cursor:pointer;}
.container .cursor:hover{opacity:0.8}
.container .title-box{padding-top:60px;border-bottom:1px solid #e4e4e4;margin-bottom:40px;}
.container .title-box h1{float:left;font-size:26px;color:#333;line-height:1.85;padding-bottom:10px;}
.container .title-box ul{display:flex;position:relative;margin-top:15px; left:400px; overflow:visible}
.container .title-box ul li{font-size:16px;color:#555;letter-spacing:-0.4px;margin:0 30px;box-sizing:border-box;text-align:center;padding-bottom:20px;}
.container .title-box ul li.on{color:#333;border-bottom:2px solid #333;font-weight:500}
.container .title-box ul li .title-tab-cir{position:absolute;margin-top:2px;display:inline-block;width:20px;height:20px;border-radius:50%;background:#fb878b;color:#fff;font-size:12px;padding:2.5px;box-sizing:border-box;line-height:1;margin-left:5px;}
.container .title-box .date{margin-bottom:10px;font-size:14px;color:#888;letter-spacing:-0.35px;}
.container .title-box .date span{color:#333;}
.container .apply-box{padding-left:250px; padding-right:250px}
.wrap {width: 80%;height: auto;margin: 0 auto;}
#big-font {font-size: 27px !important;font-weight: bold !important;display: contents}
input{border: 0;border-bottom: 1px solid #fb878b; width: 100%;height:30px;font-size:20px;}
.info{padding-top:50px;}
#email{margin-bottom:14px;}
#password{margin-bottom: 20px;}
.info label {display: inline-block;width: 100px;}
.alter{width: 150px;height: 35px;border: 0;border-radius: 32px;background: #fb878b;color: #ffffff;}
#alter-accept{margin: 0 auto;display: block; margin-top:40px;}
footer div{height: 80px;text-align: center;background-color: #e3e3e3;border-top: 1px solid;margin-top: 50px;}


#class_add_btn{background:#fb878b;color:#fff;border-radius:6px;padding:17px;border:none; 
						width:71px;color:#fff;font-size:16px;width:200px;height:60px;box-sizing:border-box;margin:30px 40%;text-align:center;}
.container .profile-container .inner-cont{border-bottom:1px solid #d8d9db;padding:30px 0;}
